{% extends 'NNGenieInfosMatBundle:FrontEnd:layout.html.twig' %}

{% block title %}{{parent()}} - Details{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('bundles/nngenieinfosmat/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/nngenieinfosmat/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/nngenieinfosmat/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/nngenieinfosmat/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">		
    <style>
        #datatable-responsive_wrapper div.row .col-sm-6 + .col-sm-6{
            margin-left: -14%;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- page content -->
        <div class="right_col" role="main">

        <div class="breadcrumbs">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="{{path('nn_genie_infos_mat_homepage')}}" class="marron"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Acceuil</a></li>
                    <li><a href="{{path('nn_genie_infos_mat_homepage')}}" >Matériels</a></li>
                    <li><a href="{{path('nn_genie_infos_mat_materiels_user')}}" >Situation générale</a></li>
                    <li class="active">Détail</li>
                </ol>
            </div>
        </div>
          <div class="">
            <div class="page-title">
              <div class="title_left">
                  <h3>
                      DETAIL DU MATERIEL
                  </h3>
              </div>

            </div>
            <div class="clearfix"></div>

            <div class="row">
			
                <div class="col-md-12 col-sm-6 col-xs-6">
                    <div class="x_panel row">
                        <div class="x_title">
                            <h2>Informations sur le matériel </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="single">
                                <div class=" col-md-11 col-md-offset-1 container">
                                    <div class="row single-right">
                                        <div class="col-md-5 single-right-left">
                                            <div class="flexslider">
                                                    <ul class="slides">
                                                            <li data-thumb="{{asset('uploads/Materiels/'~materiel.mainpath)}}">
                                                                    <div class="thumb-image"> 
																		<center><div class="image-caption">
																			<a href="{{ path('nn_genie_infos_mat_materiel_edit_main_image',{'id': materiel.id})}}" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="top" title="Modifier"><i class="fa fa-edit"></i></a>
																			{#<a href="{{ path('nn_genie_infos_mat_materiel_edit',{'id': materiel.id})}}" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Supprimer"><i class="fa fa-trash"></i></a>#}
																		</div></center>
																		<img src="{{asset('uploads/Materiels/'~materiel.mainpath)}}" data-imagezoom="true" class="img-responsive"> 
																	</div>
                                                            </li>
															{%if images %}
																{%for image in images%}
																	<li data-thumb="{{asset('uploads/ImagesMateriels/'~image.path)}}">
																			<div class="thumb-image">
																				<center><div class="image-caption">
																					<a href="{{ path('nn_genie_infos_mat_image_edit',{'id': image.id}) }}" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="top" title="Modifier"><i class="fa fa-edit"></i></a>
																					<a href="{{ path('nn_genie_infos_mat_image_delete',{'id': image.id}) }}" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Supprimer"><i class="fa fa-trash"></i></a>
																				</div></center>
																			 <img src="{{asset('uploads/ImagesMateriels/'~image.path)}}" data-imagezoom="true" class="img-responsive">
																			 </div>
																	</li>
																{%endfor%} 
															{%endif%} 
                                                    </ul>
                                            </div>
                                                    
                                        </div>
                                        <div class="col-md-7 single-right-left simpleCart_shelfItem">
                                            {#<h3 class="col-lg-12">NOM DU MATERIEL</h3>#}
											<div class="col-lg-12 textsingle">
                                                <h5>
                                                    <span class="titresingle">Classe : </span>
                                                    <span class="m-size">{{materiel.genre.famille.classemateriel.nom}}</span>
                                                </h5>
                                            </div>
                                            <div class="col-lg-12 textsingle">
                                                <h5>
                                                    <span class="titresingle">Marque : </span>
                                                    <span class="m-size">{{materiel.genre.famille.nom}}</span>
                                                </h5>
                                            </div>
                                            <div class="col-lg-12 textsingle">
                                                <h5>
                                                    <span class="titresingle">Genre : </span>
                                                    <span class="m-size">{{materiel.genre.nom}}</span>
                                                </h5>
                                            </div>
                                            <div class="col-lg-12 textsingle">
                                                <h5>
                                                    <span class="titresingle">Marque : </span>
                                                    <span class="m-size">{{materiel.type.marque.nom}}</span>
                                                </h5>
                                            </div>
                                            <div class="col-lg-12 textsingle">
                                                <h5>
                                                    <span class="titresingle">Type : </span>
                                                    <span class="m-size">{{materiel.type.nom}}</span>
                                                </h5>
                                            </div>
                                            <div class="col-lg-12 textsingle">
                                                <h5>
                                                    <span class="titresingle">N° Chassis : </span>
                                                    <span class="m-size marron">{{materiel.chassis}}</span>
                                                </h5>
                                            </div>
                                            <div class="col-lg-12 textsingle">
                                                <h5>
                                                    <span class="titresingle">Age : </span>
                                                    <span class="m-size">{{materiel.age}} ans</span>
                                                </h5>
                                            </div>
                                            <div class="col-lg-12 textsingle">
                                                <h5>
                                                    <span class="titresingle">Ville : </span>
                                                    <span class="m-size">{{materiel.localisation.ville}}</span>
                                                </h5>
                                            </div>

                                            <div class="col-lg-12 textsingle">
                                                <ul>
													{% set itrbad = 5 - materiel.etat.nbreetoile %}
													{% for i in 1..materiel.etat.nbreetoile %}
														<li class="marron"><i class="fa fa-star fa-2x"></i></li>
													{%endfor%}
													{% for i in 1..itrbad if itrbad > 0 %}
                                                    <li><i class="fa fa-star fa-2x"></i></li>
													{%endfor%}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="clearfix"> </div>
                                        <div class="col-md-10 bootstrap-tab">
                                            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                                                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                                                            <li role="presentation" class="active"><a href="#proprietaire" id="home-tab" role="tab" data-toggle="tab" aria-controls="proprietaire" aria-expanded="true">Propriétaire</a></li>
															<li role="presentation"><a href="#fournisseur" id="fournisseur-tab" role="tab" data-toggle="tab" aria-controls="fournisseur" aria-expanded="true">Fournisseur</a></li>
                                                            <li role="presentation"><a href="#description" role="tab" id="profile-tab" data-toggle="tab" aria-controls="description">Description</a></li>
                                                    </ul>
                                                    <div id="myTabContent" class="tab-content">
                                                            <div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="proprietaire" aria-labelledby="home-tab">
                                                                    {#<h5>Propriétaire</h5>#}
                                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                                        <div class="x_content row">
                                                                            <div class="col-md-12 col-sm-12 col-xs-12 block1">
                                                                                <div class="row">
                                                                                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="fa fa-institution"></i></div>
                                                                                    <div class="col-md-10 col-sm-10 col-xs-10">Nom, <span class="proprio">{{materiel.proprietaire.nom}}</span></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 col-sm-12 col-xs-12 block1">
                                                                                <div class="row">
                                                                                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="fa fa-globe"></i></div>
                                                                                    <div class="col-md-10 col-sm-10 col-xs-10">Pays, <span class="proprio">Cameroun</span></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 col-sm-12 col-xs-12 block1">
                                                                                <div class="row">
                                                                                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="fa fa-map-marker"></i></div>
                                                                                    <div class="col-md-10 col-sm-10 col-xs-10">Ville, <span class="proprio">{{materiel.proprietaire.adresse.ville}}</span></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 col-sm-12 col-xs-12 block1">
                                                                                <div class="row">
                                                                                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="fa fa-building"></i></div>
                                                                                    <div class="col-md-10 col-sm-10 col-xs-10">Boite postale, <span class="proprio">{{materiel.proprietaire.adresse.boitepostale}}</span></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 col-sm-12 col-xs-12 block1">
                                                                                <div class="row">
                                                                                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="fa fa-phone"></i></div>
                                                                                    <div class="col-md-10 col-sm-10 col-xs-10">Téléphone, <span class="proprio">{{materiel.proprietaire.adresse.tel}}</span></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                            </div>
															<div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="fournisseur" aria-labelledby="fournisseur-tab">
                                                                    {#<h5>Propriétaire</h5>#}
                                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                                        <div class="x_content row">
                                                                            <div class="col-md-12 col-sm-12 col-xs-12 block1">
                                                                                <div class="row">
                                                                                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="fa fa-institution"></i></div>
                                                                                    <div class="col-md-10 col-sm-10 col-xs-10">Nom, <span class="proprio">{{materiel.fournisseur.nom}}</span></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 col-sm-12 col-xs-12 block1">
                                                                                <div class="row">
                                                                                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="fa fa-globe"></i></div>
                                                                                    <div class="col-md-10 col-sm-10 col-xs-10">Pays, <span class="proprio">Cameroun</span></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 col-sm-12 col-xs-12 block1">
                                                                                <div class="row">
                                                                                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="fa fa-map-marker"></i></div>
                                                                                    <div class="col-md-10 col-sm-10 col-xs-10">Ville, <span class="proprio">{{materiel.fournisseur.adresse.ville}}</span></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 col-sm-12 col-xs-12 block1">
                                                                                <div class="row">
                                                                                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="fa fa-building"></i></div>
                                                                                    <div class="col-md-10 col-sm-10 col-xs-10">Boite postale, <span class="proprio">{{materiel.fournisseur.adresse.boitepostale}}</span></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 col-sm-12 col-xs-12 block1">
                                                                                <div class="row">
                                                                                    <div class="col-md-2 col-sm-2 col-xs-2"><i class="fa fa-phone"></i></div>
                                                                                    <div class="col-md-10 col-sm-10 col-xs-10">Téléphone, <span class="proprio">{{materiel.fournisseur.adresse.tel}}</span></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                            </div>
                                                            <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="description" aria-labelledby="home-tab">
                                                                    {#<h5>Description</h5>#}
                                                                    <p>{{materiel.description}}</p>
                                                            </div>
                                                    </div>
                                            </div>
                                    </div>
                                    </div>
                                <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
          </div>
        </div>
    <!-- /page content -->
<!-- /page content -->

{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/nngenieinfosmat/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/nngenieinfosmat/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/nngenieinfosmat/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('bundles/nngenieinfosmat/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('bundles/nngenieinfosmat/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#datatable-responsive').DataTable();
        });
    </script>
{% endblock %}