<div class="">
    <div class="nav_menu">
        <nav class="" role="navigation">
            <div class="scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <center class="logo-nav-left"><h2><span class="marron">GM</span>A<span class="marron">T</span><span class="logoindice">Gestion des Matériels et Travaux</span></center>
                </div>
            </div>

            <div class="scroll-view col-md-6 mymenu">
                <nav class="navbar">
                    <ul class="nav navbar-nav">
                        <li> <a href="{{path('nn_genie_infos_mat_homepage')}}">Accueil</a> </li>
                        <li class="dropdown"><a data-toggle="dropdown" href="#">Matériels<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{path('nn_genie_infos_mat_view_materiel_classification_user')}}">Classification</a></li>
                                <li><a href="{{path('nn_genie_infos_mat_materiels_user')}}">Situation générale</a></li>
                                <li><a href="{{path('nn_genie_infos_mat_ask_infos_user')}}">Demande d'information</a></li>
                            </ul>
                        </li>
                        <li> <a href="{{path('nn_genie_infos_mat_view_utilisateur_user')}}">Utilisateurs</a> </li>
                    </ul>
                </nav>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    {%if app.user %}
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            {%if app.user.path %}
                        <img src="{{asset('uploads/profils/'~app.user.path)}}" >
                    {%else %}
                        <img src="{{asset('bundles/nngenieinfosmat/images/user.png')}}">
                    {%endif %}{{app.user.username}}
                            <span class=" fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                            <li><a href="javascript:;">Profile</a>
                            </li>
                            {% if app.user %}
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                                    <li>
                                        <a href="{{ path('nn_genie_infos_mat_accueil') }}">Administration</a>
                                    </li>   
                                 {% endif %}
                            {% endif %}
                            
                            <li>
                                <a href="javascript:;">Aide</a>
                            </li>
                            {% if app.user %}
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> Se deconnecter</a>
                            </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>

</div>
<!-- /top navigation -->