{% extends 'NNGenieInfosMatBundle:FrontEnd:layoutone.html.twig' %}

{% block title %}{{parent()}} - Informations{% endblock %}
{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('bundles/nngenieinfosmat/vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet">
{% endblock %}
    {% block content %}
	<div class="" role="main">

            <div class="breadcrumbs row">
                <div class="container">
                    <ol class="breadcrumb"><li><a href="{{path('nn_genie_infos_mat_homepage')}}" class="marron"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Acceuil</a></li>
                        <li><a href="{{path('nn_genie_infos_mat_homepage')}}" >Matériels</a></li>
                        <li class="active">Demande d'informations</li>
                    </ol>
                </div>
            </div>
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>
                            RECHERCHE
                        </h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="thecontent col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Renseigner les paramêtres de la recherche <small>Sélection</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="row">         
                                    <form id="form_search_infos" method="POST" action="{{ path('nn_genie_infos_mat_materiel_results_search') }}">
                                        <div class="col-md-4">
                                            <div class="item form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">Genre </label>
                                                <div class="col-md-10 col-sm-10 col-xs-10 form-group has-feedback">
                                                    <div class="form-group row">
                                                        <select id="genre" name="genres[]" class="select2_multiple form-control" tabindex="-1" multiple="multiple">
                                                            <option></option>
                                                            {% if genres %}
                                                                {% for genre in genres %}
                                                                    <option value="{{genre.id}}">{{genre.nom}}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </div>		
                                                </div>
                                            </div>
                                            <div class="item form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">Propriétaire </label>
                                                <div class="col-md-10 col-sm-10 col-xs-10 form-group has-feedback">
                                                    <div class="form-group row">
                                                        <select id="propriétaire" name="proprietaires[]"class="select2_multiple form-control" tabindex="-1" multiple="multiple">
                                                            <option></option>
                                                            {% if proprietaires %}
                                                                {% for proprietaire in proprietaires %}
                                                                    <option value="{{proprietaire.id}}">{{proprietaire.nom}}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </div>		
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">  
                                            <div class="item form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">Marque </label>
                                                <div class="col-md-10 col-sm-10 col-xs-10 form-group has-feedback">
                                                    <div class="form-group row">
                                                        <select id="marque" name="marques[]" class="select2_multiple form-control" tabindex="-1" multiple="multiple">
                                                            <option></option>
                                                            {% if marques %}
                                                                {% for marque in marques%}
                                                                    <option value="{{marque.id}}">{{marque.nom}}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </div>		
                                                </div>
                                            </div>
                                            <div class="item form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">Localisation </label>
                                                <div class="col-md-10 col-sm-10 col-xs-10 form-group has-feedback">
                                                    <div class="form-group row">
                                                        <select id="local" name="localisations[]" class="select2_multiple form-control" tabindex="-1" multiple="multiple">
                                                            <option></option>
                                                            {% if localisations %}
                                                                {% for localisation in localisations %}
                                                                    <option value="{{localisation.ville}}">{{localisation.ville}}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </div>		
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-4">
                                            <div class="item form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">Type </label>
                                                <div class="col-md-10 col-sm-10 col-xs-10 form-group has-feedback">
                                                    <div class="form-group row">
                                                        <select id="type" name="types[]" class="select2_multiple form-control" tabindex="-1" multiple="multiple">
                                                            <option></option>
                                                            {% if types %}
                                                                {% for type in types %}
                                                                    <option value="{{type.id}}">{{type.nom}}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </div>		
                                                </div>
                                            </div>
                                            <div class="item form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">Etat </label>
                                                <div class="col-md-10 col-sm-10 col-xs-10 form-group has-feedback">
                                                    <div class="form-group row">
                                                        <select id="etat" name="etats[]" class="select2_multiple form-control" tabindex="-1" multiple="multiple">
                                                            <option></option>
                                                            {% if etats %}
                                                                {% for etat in etats %}
                                                                    <option value="{{etat.id}}">{{etat.nom}}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </div>		
                                                </div>
                                            </div>
                                        </div>
                                        <div class="occasion-cart col-md-12">
                                            <center>
                                                <input value="Filtrer" type="submit" class="filtre btn btn-warning" >
                                            </center>
                                            <!-- Small modal -->
                                            <div id="modal_result" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog modal-sm">
                                                    <div class="modal-content">

                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                                            </button>
                                                            <h4 class="modal-title" id="myModalLabel2">Resultat de la recherche</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h1 class="headmodal">
                                                                <span id="response_text" class="fleft">{{response_text}}</span>
                                                                <span id="response_number" class="fright">{{response_number}}</span>
                                                            </h1>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <center>
                                                                <a id="getinformations" class="btn btn-default">Informations</a>
                                                            </center>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>  
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="table_materiels" style="display: none">
                <div class="products">
                    <div class="container">
                        <div class="col-md-12 products-right">
                            <table id="datatable" class="table table-striped table-bordered row">
                                <thead style="display: none;">
                                        <tr>
                                                <th>Name</th>
                                        </tr>
                                </thead>

                                <tbody class="products-right-grids-bottom row">
                                    {% if materiels %}
                                        {% for materiel in materiels %}
                                            <tr>
                                                <td class="new-collections-grid col-md-35">
                                                    <div class="new-collections-grid1">
                                                        <div class="new-collections-grid1-image">
                                                                        <a href="{{ path('nn_genie_infos_mat_materiel_detail_user',{'id' : materiel.id}) }}" class="product-image"><img src="{{asset('uploads/Materiels/'~materiel.mainpath)}}" alt=" " class="img-responsive" /></a>
                                                                        <div class="timer-grid-right-pos">
                                                                            <h4>Nouveau</h4>
                                                                        </div>
                                                                        <div class="new-collections-grid1-image-pos">
                                                                            <a href="{{ path('nn_genie_infos_mat_materiel_detail_user',{'id' : materiel.id}) }}">Consulter</a>
                                                                        </div>
                                                        </div>
                                                        <h4><a href="{{ path('nn_genie_infos_mat_materiel_detail_user',{'id' : materiel.id}) }}">{{materiel.genre.nom}}</a></h4>
                                                        <p>{{materiel.type.nom}}</p>
                                                        <div class="new-collections-grid1-left simpleCart_shelfItem">
                                                            <ul class="list-inline item_price interet">
                                                                <li>
                                                                    {{materiel.proprietaire.nom}}
                                                                </li>
                                                                <li>
                                                                    |
                                                                </li>
                                                                <li>
                                                                    {{materiel.localisation.ville}}
                                                                </li>
                                                            </ul>
                                                            <div class="rating fright">
                                                                <ul>
                                                                    {% set itrbad = 5 - materiel.etat.nbreetoile %}
                                                                    {% for i in 1..materiel.etat.nbreetoile %}
                                                                            <li class="marron"><i class="fa fa-star fa-2x"></i></li>
                                                                    {% endfor %}
                                                                    {% for i in 1..itrbad if itrbad > 0 %}
                                                                        <li><i class="fa fa-star fa-2x"></i></li>
                                                                    {% endfor %}
                                                                </ul>
                                                                <div class="clearfix"> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %} 
                                    {% endif %} 
                                </tbody>
                            </table>
			</div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/nngenieinfosmat/vendors/select2/dist/js/select2.full.min.js') }}" ></script>
    <script>
        $(document).ready(function() {
            $("body").addClass("nav-md");
            if ($("#response_number").html() !== "" && $("#response_text").html() !== ""){
                $('#modal_result').modal("show");
            }
            $('#getinformations').click(function(){
                $('#modal_result').modal("hide");
                $('#table_materiels').css({'display': 'block'});
            });
        });

        $(document).ready(function() {
            $("#genre").select2({
                placeholder: "Sélectionner le genre correspondant",
                allowClear: true
            });
        });
        $(document).ready(function() {
            $("#marque").select2({
                placeholder: "Sélectionner la marque correspondante",
                allowClear: true
            });
        });
        $(document).ready(function() {
            $("#type").select2({
                placeholder: "Sélectionner le type correspondant",
                allowClear: true
            });
        });
        $(document).ready(function() {
            $("#propriétaire").select2({
                placeholder: "Sélectionner le propriétaire correspondant",
                allowClear: true
            });
        });
        $(document).ready(function() {
            $("#local").select2({
                placeholder: "Sélectionner la localisation correspondante",
                allowClear: true
            });
        });
        $(document).ready(function() {
            $("#etat").select2({
                placeholder: "Sélectionner l'etat correspondant",
                allowClear: true
            });
        });

    </script>
{% endblock %}

