{% extends "NNGenieInfosMatBundle:FrontEnd:base.html.twig" %}

{% block title %}GMAT{% endblock %}
{# core CSS #}
{% block stylesheets %}
    {# Bootstrap #}
    <link href="{{ asset('bundles/nngenieinfosmat/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
     {# Font Awesome #}
    <link href="{{ asset('bundles/nngenieinfosmat/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/nngenieinfosmat/vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet">
    {# Custom Theme Style #}
    <link href="{{ asset('bundles/nngenieinfosmat/css_user/custom.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/nngenieinfosmat/css_user/acceuil.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/nngenieinfosmat/css_user/personal.css') }}" rel="stylesheet">
{% endblock %}

{% block content_body %}
    <div class="container body">
        <div class="main_container">
            
            <div class="">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="scroll-view">
                            <a href="{{path('nn_genie_index')}}">
                                <div class="navbar nav_title" style="border: 0;">
                                    <center class="logo-nav-left"><h2><span class="marron">GM</span>A<span class="marron">T</span><span class="logoindice">Gestion des Matériels et Travaux</span></center>
                                </div>
                            </a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                {%if app.user %}
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        {%if app.user.path %}
                                    <img src="{{asset('uploads/profils/'~app.user.path)}}" >
                                {%else %}
                                    <img src="{{asset('bundles/nngenieinfosmat/images/user.png')}}">
                                {%endif %}{{app.user.username}}
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a href="javascript:;">Profile</a>
                                        </li>
                                        {% if app.user %}
                                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                                                <li>
                                                    <a href="{{ path('nn_genie_infos_mat_accueil') }}">Administration</a>
                                                </li>   
                                             {% endif %}
                                        {% endif %}

                                        <li>
                                            <a href="javascript:;">Aide</a>
                                        </li>
                                        {% if app.user %}
                                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> Se deconnecter</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
            
            <!-- page content -->
            <div class="" role="main">
                <div class="breadcrumb">
                    <center>
                        <h1 class="marron" style="font-family: Tempus Sans ITC;">BIENVENUE</h1>
                    </center>
                </div>

                <div class="mainhome">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4 col-lg-offset-4">
                                        <div class="row">
                                            <a href="{{path('nn_genie_infos_mat_homepage')}}">
                                                <div class="col-lg-6 col-lg-offset-3 animated wow zoomIn menu" data-wow-delay=".5s" id="modul1">
                                                    <center>Consultant</center>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="sousmodul" class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3 col-lg-offset-2">
                                        <div class="row">
                                            <a href="{{path('nn_genie_infos_mat_accueil')}}">
                                                <div class="col-lg-8 col-lg-offset-3 animated menu wow zoomIn" data-wow-delay=".5s" id="modul2">
                                                    <center>Informations générales</center>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-lg-offset-2">
                                        <div class="row">
                                            <a href="{{path('nn_genie_exploitation_homepage')}}">
                                            <div class="col-lg-9 col-lg-offset-1 menu animated wow zoomIn" data-wow-delay=".5s" id="modul3">
                                                <span class="fleft">Exploitation</span>
                                            </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <center>
                                    <h1 class="marron">GMATT</h1>
                                </center>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">    
                                    <div class="col-lg-3 col-lg-offset-2">
                                        <div class="row">
                                            <a href="{{path('nn_genie_maintenance_homepage')}}">
                                            <div class="col-lg-8 col-lg-offset-3 menu animated wow zoomIn" data-wow-delay=".5s" id="modul4">
                                                <center>Maintenance</center>
                                            </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-lg-offset-2">
                                        <div class="row">
                                            <a href="{{path('nn_genie_formation_homepage')}}">
                                            <div class="col-lg-8 col-lg-offset-1 menu animated wow zoomIn" data-wow-delay=".5s" id="modul5">
                                                <center>Formation</center>
                                            </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /page content -->

            {% include('NNGenieInfosMatBundle:FrontEnd:footer.html.twig') %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/nngenieinfosmat/vendors/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/nngenieinfosmat/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/nngenieinfosmat/js/custom.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('bundles/nngenieinfosmat/vendors/select2/dist/js/select2.full.min.js') }}" ></script>
{% endblock %}
