{% extends 'NNGenieInfosMatBundle::layout.html.twig' %}

{% block title %}GMTRAV - Importer les materiels{% endblock %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block content %}
    <div class="right_col" role="main">

        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>
                        IMPORTER UN FICHIER EXCEL
                    </h3>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Formulaire d'importation des matériels à partir d'un fichier excel </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            {{ render_flash_alerts() }}
                            <form class="form-horizontal form-label-left" method="POST" action="{{ path('nn_genie_infos_mat_import_materiels_to_database') }}" enctype="multipart/form-data">

                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <input type="file" name="materiels_xlsx_file" accept=".xls,.xlsx">
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">
                                        <input type="submit" class="btn btn-success" value="Valider"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/nngenieinfosmat/vendors/validator/validator.min.js') }}"></script>
{% endblock %}
