{% extends 'NNGenieMaintenanceBundle::layout.html.twig' %}

{% block title %}GMTRAV - Règlages{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('bundles/nngenieinfosmat/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/nngenieinfosmat/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/nngenieinfosmat/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/nngenieinfosmat/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">		

{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <div class="breadcrumbs">
            <div class="container">
                <ol class="breadcrumb">
                    {%include 'NNGenieMaintenanceBundle:Reglages:entetebreamcrumb.html.twig'%}                
                    <li class="active"><a href="{{path('nn_genie_maintenance_reglage_edit', {'id': idreglage})}}" class="marron"><span  aria-hidden="true"></span> Ajouter une question</a></li>
                </ol>
            </div>
        </div>
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>
                        MODIFICATION D'UN REGLAGE
                </div>

            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Informations sur le règlage</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            {{ render_flash_alerts() }}                    
                            <form class="form-horizontal form-label-left" method="POST" action="{{ path('nn_genie_maintenance_reglage_edit', {'id': idreglage}) }}">

                                <div class="item form-group">
                                    {{ form_label(form.nom, "Nom ", {'label_attr': {'class': 'control-label col-md-2 col-sm-3 col-xs-12'}}) }}
                                    {{ form_errors(form.nom) }}

                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        {{ form_widget(form.nom, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'required':'required'}}) }}
                                    </div>
                                </div>
                                <div class="item form-group">
                                    {{ form_label(form.type, "Type de matériel", {'label_attr': {'class': 'control-label col-md-2 col-sm-3 col-xs-12'}}) }}
                                    {{ form_errors(form.type) }}

                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        {{ form_widget(form.type, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'required':'required'}}) }}
                                    </div>
                                </div>
                                    
                                <div class="item form-group">
                                    {{ form_label(form.typereglage, "Type de règlage ", {'label_attr': {'class': 'control-label col-md-2 col-sm-3 col-xs-12'}}) }}
                                    {{ form_errors(form.typereglage) }}

                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        {{ form_widget(form.typereglage, {'attr': {'class': 'form-control col-md-6 col-xs-12', 'required':'required'}}) }}
                                    </div>
                                </div>
                                    
                                <div class="item form-group">
                                    <label class="control-label col-md-2 col-sm-3 col-xs-12">Opérations</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="select_operations" name="idoperations[]" class="select2_multiple form-control" multiple="multiple">
                                            {% for operation in operations %}
                                                <option value="{{operation.id}}">{{operation.nom}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                               <div class="item form-group col-md-9 col-md-offset-1 center" style="padding-left:10%">
                                    <h4>Modifier les operations liées au règlage</h4>
                                    <table class="table table-bordered"> 
                                        <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Procédé</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="operations" data-prototype="{{ _self.operation_prototype(form.operations.vars.prototype)|e }}">
                                            {% for operation in form.operations %}
                                                <tr>
                                                    {{ _self.operation_prototype(operation) }}
                                                </tr>
                                            {% endfor %}

                                        </tbody>
                                        {% macro operation_prototype(childForm) %}
                                            <td>{{ form_widget(childForm.nom, {'attr': {'class': 'form-control col-md-5 col-xs-8'}}) }}</td>
                                            <td>{{ form_widget(childForm.procede, {'attr': {'class': 'form-control col-md-3 col-xs-8'}}) }}</td>

                                        {% endmacro %}
                                    </table>
                                </div> 
                                <div class="form-group">
                                    {{ form_widget(form._token) }}
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">
                                        <input type="reset" class="btn btn-primary" value="Annuler"/>
                                        <input type="submit" class="btn btn-success" value="Valider"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/nngenieinfosmat/vendors/validator/validator.min.js') }}"></script>

    <script>
        // initialize the validator function
        validator.message.date = 'not a real date';

        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('form')
                .on('blur', 'input[required], input.optional, select.required', validator.checkField)
                .on('change', 'select.required', validator.checkField)
                .on('keypress', 'input[required][pattern]', validator.keypress);

        $('.multi.required').on('keyup blur', 'input', function () {
            validator.checkField.apply($(this).siblings().last()[0]);
        });

        /* $('form').submit(function(e) {
         e.preventDefault();
         var submit = true;
         
         // evaluate the form using generic validaing
         if (!validator.checkAll($(this))) {
         submit = false;
         }
         
         if (submit)
         this.submit();
         
         return false;
         });*/
        
        $("#select_operations").select2({
            maximumSelectionLength: 4,
            placeholder: "Selectionner les operations pour la reglage",
            allowClear: true
        });
        
        function addOperationFormDeleteLink($operationFormTr) {
            var $removeFormA = $('<td><button class="btn btn-danger fa fa-trash" style="margin-top:3%"></button></td>');
            $operationFormTr.append($removeFormA);
            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the produit form
                $operationFormTr.remove();
            });
        }
        
        
        var $collectionHolderOperation;
        // setup an "add a produit" link
        //var $addQuestionLink = $('<button class="btn btn-primary" style="margin-left:2%; margin-top:1%"><i class="fa fa-plus"></i> Ajouter</button>');
        //var $newLinkQTr = $('<tr></tr>').append($addQuestionLink);

        jQuery(document).ready(function () {
            /******** suppression des operations *********/
            // Get the ul that holds the collection of produits
            $collectionHolderOperation = $('tbody.operations');

            // add a delete link to all of the existing produit form li elements
            $collectionHolderOperation.find('tr').each(function () {
                addOperationFormDeleteLink($(this));
            });
        });
    </script>
{% endblock %}
