{% extends 'NNGenieMaintenanceBundle::layout.html.twig' %}
{% block title %}GMTRAV - Accueil{% endblock %}

{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="breadcrumbs">
            <div class="container">
                <ol class="breadcrumb">
                    {%include '::entetebreamcrumb.html.twig'%}
                    <li><a href="{{path('nn_genie_maintenance_homepage')}}" >Maintenance</a></li>
                    <li class="active"><a href="{{path('nn_genie_maintenance_homepage')}}" class="marron"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Acceuil</a></li>
                </ol>
            </div>
        </div>
        <br />
        <div class="">

            <div class="row top_tiles">

                <a href="{{ path("nn_genie_maintenance_pannes") }}" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-tasks marron"></i>
                        </div>
                        <div class="count">{{nbpannes}}</div>

                        <h3>Pannes</h3>
                        {#<p>Lorem ipsum psdea itgum rixt.</p>#}
                    </div>
                </a>
                <a href="{{ path("nn_genie_maintenance_anomalies") }}" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-tasks marron"></i>
                        </div>
                        <div class="count">{{nbanomalies}}</div>

                        <h3>Anomalies</h3>
                        {#<p>Lorem ipsum psdea itgum rixt.</p>#}
                    </div>
                </a>
                <a href="{{ path("nn_genie_maintenance_controlesmatinaux") }}" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-tasks marron"></i>
                        </div>
                        <div class="count">{{nbcontrolesMatinaux}}</div>

                        <h3>Contrôles Matinaux</h3>
                        {#<p>Lorem ipsum psdea itgum rixt.</p>#}
                    </div>
                </a>
                <a href="{{path("nn_genie_maintenance_revisions")}}" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-tasks marron"></i>
                        </div>
                        <div class="count">{{nbrevisions}}</div>
                        <h3>Revisions</h3>
                        {#<p>Lorem ipsum psdea itgum rixt.</p>#}
                    </div>
                </a>
                <a href="{{ path("nn_genie_maintenance_procedes") }}" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-tasks marron"></i>
                        </div>
                        <div class="count">{{nbprocedes}}</div>

                        <h3>Procedés</h3>
                        {#<p>Lorem ipsum psdea itgum rixt.</p>#}
                    </div>
                </a>
                <a href="{{ path("nn_genie_maintenance_reglages") }}" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-tasks marron"></i>
                        </div>
                        <div class="count">{{nbreglages}}</div>

                        <h3>Règlages</h3>
                        {#<p>Lorem ipsum psdea itgum rixt.</p>#}
                    </div>
                </a>
                <a href="{{ path("nn_genie_maintenance_propretes") }}" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-tasks marron"></i>
                        </div>
                        <div class="count">{{nbpropretes}}</div>

                        <h3>Propretés</h3>
                        {#<p>Lorem ipsum psdea itgum rixt.</p>#}
                    </div>
                </a>
                <a href="{{path("nn_genie_maintenance_entretiensperiodiques")}}" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-tasks marron"></i>
                        </div>
                        <div class="count">{{nbentretiensperiodiques}}</div>

                        <h3>Entretiens périodiques</h3>
                    </div>
                </a>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Recherche des informations</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <form id="form_search_infos" method="POST" action="{{ path('nn_genie_maintenance_homepage') }}">                                        
                                    <div class="item form-group col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label col-md-6 col-sm-12 col-xs-12" for="occupation">Problème de maintenance </label>
                                        <div class="col-md-10 col-sm-10 col-xs-10">
                                            <select id="probleme_maintenance" name="probleme_maintenance" class="select2_single form-control" tabindex="-1" >
                                                <option></option>
                                                <option value="1">Anomalie</option>
                                                <option value="2">Contrôle matinal</option>
                                                <option value="3">Entretien périodique</option>
                                                <option value="4">Panne</option>
                                                <option value="5">Procédé</option>
                                                <option value="6">Propreté</option>
                                                <option value="7">Question</option>
                                                <option value="8">Propreté</option>
                                                <option value="9">Question</option>
                                            </select>	
                                        </div>
                                    </div>
                                    <div class="item form-group col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label col-md-6 col-sm-12 col-xs-12" for="occupation">Type de materiel </label>
                                        <div class="col-md-10 col-sm-10 col-xs-10">
                                            <select id="types" name="types[]"class="form-control select2_multiple" multiple="multiple"> 
                                                {% if types %}
                                                    {% for type in types %}
                                                        <option value="{{type.id}}">{{type.nom}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>	
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <center><input type="submit" class="btn btn-default" value="Rechercher"/></center>
                                        </div>
                                    </div>
                                </form>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function () {
            $("#probleme_maintenance").select2({
                placeholder: "Sélectionner votre problème de maintenance",
                allowClear: true
            });
            $("#types").select2({
                placeholder: "Sélectionner les types de materiels",
                allowClear: true
            });
        });

    </script>
{% endblock %}