<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <center class="logo-nav-left"><h2><span class="marron">N</span>N <span class="marron">G</span>enie <center class="logoindice gri-clair"><strong>GMATT</strong></center></h2></center>
        </div>

        <div class="clearfix"></div>		
        <!-- menu profile quick info -->
        <div class="profile">
            <div class="profile_pic">
                {%if app.user %} 
                    {%if app.user.path %}
                        <img src="{{asset('uploads/profils/'~app.user.path)}}" alt="..." class="img-circle profile_img">
                    {%else %}
                        <img src="{{asset('bundles/nngenieinfosmat/images/user.png')}}" alt="..." class="img-circle profile_img">
                    {%endif %}
                {%endif %}
            </div>		
            <div class="profile_info">
                {%if app.user %}
                    <span>Bienvenu,</span>
                    <h2>{{app.user.username}}</h2>
                {%endif %}
            </div>

        </div>
        <!-- /menu profile quick info -->
        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                {%if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <h3>ADMIN</h3>
                    {% elseif  is_granted('ROLE_USER') %}
                        <h3>USER</h3>
                    {%endif %}
                {%endif %}
                <ul class="nav side-menu">
                    <li>
                        <a href="{{ path('nn_genie_maintenance_homepage') }}"><i class="fa fa-home"></i> Accueil </a>
                    </li>
                    <li><a><i class="fa fa-tasks"></i> Pieces <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{{path("nn_genie_maintenance_piece_new")}}"><i class="fa fa-plus-square"></i> Ajouter </a>
                            </li>
                            <li>
                                <a href="{{path("nn_genie_maintenance_pieces")}}"><i class="fa fa-tasks"></i> Gérer </a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-tasks"></i> Pannes <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{{path("nn_genie_maintenance_panne_new")}}"><i class="fa fa-plus-square"></i> Ajouter </a>
                            </li>
                            <li>
                                <a href="{{path("nn_genie_maintenance_pannes")}}"><i class="fa fa-tasks"></i> Gérer </a>
                            </li>
                        </ul>
                    </li>
                    
                    <li><a><i class="fa fa-tasks"></i> Anomalies <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{{path("nn_genie_maintenance_anomalie_new")}}"><i class="fa fa-plus-square"></i> Ajouter </a>
                            </li>
                            <li>
                                <a href="{{path("nn_genie_maintenance_anomalies")}}"><i class="fa fa-tasks"></i> Gérer </a>
                            </li>
                        </ul>
                    </li>
                    
                    <li><a><i class="fa fa-tasks"></i> Operations <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{{path("nn_genie_maintenance_operation_new")}}"><i class="fa fa-plus-square"></i> Ajouter </a>
                            </li>
                            <li>
                                <a href="{{path("nn_genie_maintenance_operations")}}"><i class="fa fa-tasks"></i> Gérer </a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-tasks"></i> Produits <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{{path("nn_genie_maintenance_produit_new")}}"><i class="fa fa-plus-square"></i> Ajouter </a>
                            </li>
                            <li>
                                <a href="{{path("nn_genie_maintenance_produits")}}"><i class="fa fa-tasks"></i> Gérer </a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-tasks"></i> Procédés <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{{path("nn_genie_maintenance_procede_new")}}"><i class="fa fa-plus-square"></i> Ajouter </a>
                            </li>
                            <li>
                                <a href="{{path("nn_genie_maintenance_procedes")}}"><i class="fa fa-tasks"></i> Gérer </a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-tasks"></i> Questions <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{{path("nn_genie_maintenance_question_new")}}"><i class="fa fa-plus-square"></i> Ajouter </a>
                            </li>
                            <li>
                                <a href="{{path("nn_genie_maintenance_questions")}}"><i class="fa fa-tasks"></i> Gérer </a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-tasks"></i> Tests <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{{path("nn_genie_maintenance_test_new")}}"><i class="fa fa-plus-square"></i> Ajouter </a>
                            </li>
                            <li>
                                <a href="{{path("nn_genie_maintenance_tests")}}"><i class="fa fa-tasks"></i> Gérer </a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-tasks"></i> Contrôles matinaux <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{{path("nn_genie_maintenance_controlematinal_new")}}"><i class="fa fa-plus-square"></i> Ajouter </a>
                            </li>
                            <li>
                                <a href="{{path("nn_genie_maintenance_controlesmatinaux")}}"><i class="fa fa-tasks"></i> Gérer </a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-tasks"></i> Entretiens périodiques <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{{path("nn_genie_maintenance_entretienperiodique_new")}}"><i class="fa fa-plus-square"></i> Ajouter </a>
                            </li>
                            <li>
                                <a href="{{path("nn_genie_maintenance_entretiensperiodiques")}}"><i class="fa fa-tasks"></i> Gérer </a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-tasks"></i> Fournisseurs de pièces <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{{path("nn_genie_maintenance_fournisseurpiece_new")}}"><i class="fa fa-plus-square"></i> Ajouter </a>
                            </li>
                            <li>
                                <a href="{{path("nn_genie_maintenance_fournisseurspieces")}}"><i class="fa fa-tasks"></i> Gérer </a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-tasks"></i> Types de règlage <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{{path("nn_genie_maintenance_typereglage_new")}}"><i class="fa fa-plus-square"></i> Ajouter </a>
                            </li>
                            <li>
                                <a href="{{path("nn_genie_maintenance_typereglages")}}"><i class="fa fa-tasks"></i> Gérer </a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-tasks"></i> Règlages <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{{path("nn_genie_maintenance_reglage_new")}}"><i class="fa fa-plus-square"></i> Ajouter </a>
                            </li>
                            <li>
                                <a href="{{path("nn_genie_maintenance_reglages")}}"><i class="fa fa-tasks"></i> Gérer </a>
                            </li>
                        </ul>
                    </li>
                    
                    <li><a><i class="fa fa-tasks"></i> Types de proprete <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{{path("nn_genie_maintenance_typeproprete_new")}}"><i class="fa fa-plus-square"></i> Ajouter </a>
                            </li>
                            <li>
                                <a href="{{path("nn_genie_maintenance_typepropretes")}}"><i class="fa fa-tasks"></i> Gérer </a>
                            </li>
                        </ul>
                    </li>
                    
                    <li><a><i class="fa fa-tasks"></i> Propretés <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{{path("nn_genie_maintenance_proprete_new")}}"><i class="fa fa-plus-square"></i> Ajouter </a>
                            </li>
                            <li>
                                <a href="{{path("nn_genie_maintenance_propretes")}}"><i class="fa fa-tasks"></i> Gérer </a>
                            </li>
                        </ul>
                    </li>
                    
                    <li><a><i class="fa fa-tasks"></i> Révisions <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{{path("nn_genie_maintenance_revision_new")}}"><i class="fa fa-plus-square"></i> Ajouter </a>
                            </li>
                            <li>
                                <a href="{{path("nn_genie_maintenance_revisions")}}"><i class="fa fa-tasks"></i> Gérer </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
    </div>
</div>

<!-- top navigation -->
<div class="top_nav">

    <div class="nav_menu">
        <nav class="" role="navigation">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    {%if app.user %}
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            {%if app.user.path %}
                        <img src="{{asset('uploads/profils/'~app.user.path)}}" >
                    {%else %}
                        <img src="{{asset('bundles/nngenieinfosmat/images/user.png')}}">
                    {%endif %}{{app.user.username}}
                            <span class=" fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                            <li><a href="javascript:;">Profile</a>
                            </li>
                            <li>
                                <a href="javascript:;">Aide</a>
                            </li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> Se deconnecter</a>
                            </li>
                        </ul>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>

</div>
<!-- /top navigation -->